* {
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: darkslategray;
  height: 100px;
}
input {
  background-color: black;
  height: 40px;
  display: flex;
  margin: 20px;
  border-radius: 20px;
  border-color: black;
}
.logo {
  margin-left: 30px;
  margin-top: 10px;
  width: 80px;
  height: 80px;
}
.input {
  display: flex;
  flex-direction: row;
}
.date {
  margin-top: 40px;
  margin-right: 30px;
  color: white;
}
.main {
  display: flex;
  flex-direction: row;
}
.main div {
  overflow: hidden;
  width: 20%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parent {
  position: relative;
}
.main .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}

@media (max-width: 500px) {
  .date {
    display: none;
  }
  .main {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .main div {
    width: 100%;
    height: 20%;
    overflow: hidden;
  }
}
